i.icon.ion-record {
  font-size: 20px;
}
.iconContainer {
  width: 50px;
  border-radius: 10%;
}
.addBorder {
  border: 2px solid #000;
}
.noPadding {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.italic {
  font-style: italic;
}
.strikeThis {
  position: relative;
}
.strikeThis::after {
  border-bottom: 3px solid #000;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
}
.doneThis {
  background-color: #d3d3d3;
}
